<section>
  <div class="container page-header">
    <form>
      <div class="row form-group">
        <div class=" col-md-4">
          <label calss="form-control">Name of the Book</label>
        </div>
        <div class="col-md-4"><input type="text" class="form-control" placeholder="Name of the book">
        </div>
      </div>
      <div class="row form-group">
        <div class=" col-md-4">
          <label calss="form-control">Description</label></div>
        <div class="col-md-4"><textarea class="form-control" placeholder="Name of the book"> </textarea></div>
      </div>
      <div class="row form-group">
        <div class=" col-md-4">
          <label calss="form-control">Price</label></div>
        <div class="col-md-4"><input type="number" class="form-control" placeholder="Price of the book"></div>
      </div>
      <div class="row form-group">
        <div class=" col-md-4">
          <label calss="form-control">Add the Image of the book</label></div>
        <div class="col-md-4"><input type="text" class="form-control" placeholder="Name of the book"></div>
      </div>

    </form>
  </div>
</section>
